#News-splide {
    .splide__slide {
      display: flex;
      flex-direction: column;
      padding: 10px;
  
      .splide-item-container {
        height: 230px; /* Fija una altura para las imágenes */
        width: 100%;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        position: relative; /* Asegura que el texto se pueda posicionar dentro del contenedor */
      }
  
      .splide-item-text {
        position: absolute; /* Posiciona el texto de manera absoluta */
        bottom: 15px; /* Coloca el texto en la parte inferior */
        width: 100%;
        color: black;
        padding: 5px;
        box-sizing: border-box;
        
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
  